<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    {{!--
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"
        integrity="sha512-8qmis31OQi6hIRgvkht0s6mCOittjMa9GMqtK9hes5iEQBQE/Ca6yGE5FsW36vyipGoWQswBj/QBm2JR086Rkw=="
        crossorigin="anonymous"></script>
    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Q&amp;A</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav " id="nav_left">
                        <li><a href="/">Home</a></li>
                        <li><a href="/user">Personal</a></li>
                        <li><a href="/ask">Ask</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a id="nav_right_1" href="/login">Log In</a></li>
                        <li><a id="nav_right_2" href="/registration">Register</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
    </div>

    {{!-- <div class="container">
        <ul class="nav nav-pills navbar-custom navbar-expand-md">
            <p class="navbar-brand" href="#">Q&amp;A</p>
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Personal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ask</a>
            </li>
        </ul>
    </div> --}}
    <div class="container">
        {{{body}}}
    </div>

    <script src="/public/js/nav.js"></script>
</body>

</html>