<h1> Log in</h1>
<form id="loginForm">
  <div class="form-group row">
    <label for="email">Email</label>
    <input type="email" maxlength="60" name="email" class="form-control" id="email" aria-describedby="userNameHelp"
      placeholder="Email">
    <small id="userNameHelp" class="form-text text-muted">Email address shoud be vaild.</small>
    <p id="emailStatus"></p>
  </div>
  <div class="form-group row">
    <label for="password">Password</label>
    <input type="password" maxlength="60" name="password" class="form-control" id="password"
      aria-describedby="passwordHelp" placeholder="Password">
    <small id="passwordHelp" class="form-text text-muted">Betwee 3 - 16, Valid characters: "a-z", "A-Z", "0-9", "_" and
      "-"</small>
    <p id="passwordStatus"></p>
  </div>
  <ul class="text-danger row" id="error"></ul>
  <div class="progress row" id="progressBar">
    <div class="progress-bar"> </div>
  </div>
  <br>
  <p class="text-success text-center row" id="loginSuccess"></p>
  <div class="text-center row">
    <a class="btn btn-primary" href="/reset">Reset Password</a>
    <button type="submit" class="btn btn-primary" id="loginButton" disabled="disabled">Log In</button>
  </div>
</form>
<script src="/public/js/login.js"></script>