<link rel="stylesheet" href="/public/css/mainPage.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<div class="row">
    <div class="col-md-6">
        <div id="Peijin">
            <p>Name:Peijin Zhou</p>
            <a href="https://github.com/PeijinZhou/CS_545_FINAL_PROJECT_21S">github</a>
        </div>
        <div id="Jiashu">
            <p>Name:Jason</p>
            <a href="https://github.com/PeijinZhou/CS_545_FINAL_PROJECT_21S/tree/39xdgy_dev">github</a>
        </div>
    </div>
    <div class="col-md-6">
        <div id="ourInformation">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                <div id="Welcome">
                    <p>
                        <img src="/public/image/logo.png" alt="logo" style="width: 200px">
                    </p>
                </div>
            <p>email:545finalProject@gmail.com</p>
            <p>phone:(+1)555-555-5555</p>
        </div>
    </div>
</div>





