<div id ="ask-success">
<div id='view-question-div'>
    <p> You have submitted your question successfully!</p>
    <a href='/question/{{questionId}}' class="btn btn-info" data-toggle="button" role="button">View the question</a>
	{{!--<a href="/question/{{questionId}}">View The Question</a>--}}
	
</div>

</div>
<link rel="stylesheet" href="/public/css/ask.css">
